<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
</head>
<body style="margin-left: 2%">
	<br>
	{% if message %}
	<h6 style="color:red">{{message}}</h1>
	{% endif %}
	<br>
	<h1>Questions </h1>
	<br>
	<br>
	<ul class="list-group">
	<div>
   {% for ques in questions %}
  <li class="list-group-item" style="margin-left: 2.5%;margin-right: 2.5%">
  	<div>
  	<h5><a href="/question?qid={{ques.qid}}" {% if ques.status == 1 %}style="color:#777777;" {% endif %}>{{ques.name}}</a></h5>
  </div>
</li>
 {%  endfor %}
</div>
</ul>
</body>