<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
</head>
<body style="margin-left: 2%">
<br>
<br>
<h4><a href="/questions"> Back to Questions Panel</a></h4>
<br>
<p>{{fil}}</p>
<br>
{% if status == 1 %}
<h1><bold>SOLVED</bold></h1>
{% endif %}

<form style="margin-left: 2.5%;margin-right: 2.5%" action="/validate" method="POST" enctype="multipart/form-data">
 
  <div class="form-group">
    <input type="number" class="form-control" id="qid" value="{{qid}}" name="qid" style="visibility:hidden;" readonly>
  </div>

<label class="radio-inline"><input type="radio" value="cpp" checked name="lang">C++</label>
<label class="radio-inline"><input type="radio" value="python" name="lang">Python</label>
<label class="radio-inline"><input type="radio" value="java" name="lang">Java</label>


  <div class="form-group">
    <input type="file" class="form-control-file" id="code" name="code">
  </div>



 <center> <button type="submit" class="btn btn-primary">Submit</button> </center>
</form>
</body>
</html>